td, th {
  padding: 1ex;
}

td:first-child,
th:first-child {
  padding-left: 0;
}

td:last-child,
th:last-child {
  padding-right: 0;
}

.entries,
.tags,
.models {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.entries > li {
  border: 1px solid black;
  padding: 0 1em 1em 1em;
  margin: 1rem 0;
}

.tags > li {
  display: inline-block;
  padding-right: 1ex;
}
